*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(250, 249, 246);
}

h1 {
    font-size: 64px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 40px;
}

p{
    font-size: 16px;
}

h3{
    font-size: 28px;
}

ul{
    line-height: 30px;
}

ol{
    line-height: 30px;
}

h4{
    font-size: 24px;
}

ol li{
    border: 1px solid none;
    background-color: rgba(98, 102, 110, 0.2);
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
}